* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

body {
    font-family: sans-serif;
    background: rgb(67, 40, 24);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    color:#BB9457;
}

h2 {
    color: #BB9457;
}

p {
    color: #FFE6A7;
}


/* The header */
header { 
    background-image: url('images/headshot.JPG');
    background-position: center;
    background-size:cover;
    height: 100vh;
}

#myName{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 130px;
    padding-top: 60px;
    margin: 0px 32%;
    opacity: 80%;
    animation: fade 3s infinite alternate;
}
@keyframes fade {
    to { opacity: 0%;}
}



.track {
    display: grid;
    position: fixed;
    font-size: 35px;
    margin-top: -70px;
    margin-left: 50px;
    padding: 25px;
    border: 2px solid #FFE6A7;
    border-radius: 1em;
    opacity: 80%;
}
.track a {
    color: #FFE6A7;
    margin: 2rem 0;   
}
.track a:active{
    color: #6F1D1B;
}


/* the about section  */

.about p{
    font-size: 30px;
}

.about .underline {
    margin: 10% 0 0 10%;
}

.about h1 {
    margin: 20px 40px;
    font-size: 40px;
    padding-right: 180px;
}
#aboutTitle {
    display: flex;
    margin: 90px 20px 0 150px;
}
#aboutContent p {
    margin: 20px 10px 0 -10px;
}



/* projects  */


.projects h1 {
    margin: 80px 100px 40px 650px;
    font-size: 40px;
}

.carousel {
    position: relative;
    /* height: max-content; */
    /* max-width: 1900px; */
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5% 25% 0;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFE6A7;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;   
}

.carousel-control.next {
    right: 10px;
}

.underline {
    margin: 10% 0 0 10%;
}




.contacts {
    display: flex;
    flex-direction: column;
}
#contactContent{
    margin: 0 30px 0 30px;
}
.contacts h1{
    margin: 80px 100px 40px 650px;
    font-size: 40px;
}

.contacts .underline {
    margin: 10% 0 0 10%;
}
.contacts p{
    font-size: 22px;
    margin: 0px 20px 0px 525px;
}
.contacts a{
    font-size: 22px;
}
.technologies {
    display: flex;
    place-content: center;
    margin: 20px 0 0 0;
}
.technologies a{
    color: #FFE6A7;
    font-size: 100px;
    padding-right: 30px;
}

.technologies p {
    margin: 0;
}
footer {
    display: flex;
    place-content: center;
    height: 10vh;
    font-size: 22px;
    margin: 5% 30%;
}

footer a {
    color: #FFE6A7;
}